@import '../define.scss';

/***********common sub section1************/
/***********common sub section1************/

section.section1{
    text-align: center;
    padding: 150px 0px;
    @include BackGroundOption(cover);
    h2{
        font-size: 3.375rem;
        font-weight: bold;
        color: $white;
        text-shadow: 2px 2px 2px #666;
        @media (max-width:1200px){
            font-size: 3.125rem;
        }
        @media (max-width:767px){
            font-size: 2.125rem;
        }
    }
}

div.board{
    section.section1{
        background-image: url($ImgRoute + "board-section1.jpg");
    }
}
div.contact{
    section.section1{
        background-image: url($ImgRoute + "contact-section1.jpg");
    }
}


/***********common sub section2************/
/***********common sub section2************/

section.section2{
    @include topBottomBlank(100);
    h2{
        font-size: 2.813rem;
        text-align: center;
        font-weight: normal;
        @media (max-width:960px){
            font-size: 1.875rem;
        }
    }
}



